<h1 class="title">
  Users
</h1>
<%= link_to 'Create new post', users_index %>
<br>

<div class="user">
<% @users.each do |user| %>
  <%= link_to user.name, users_index(user) %>
  <br>
<% end %>
</div>

for each post 
@user = User.find(@post.user_id)