<div class="ui secondary pointing menu">
    <div class="navbar-padding">
	<%= link_to "Squawkr", users_path, class: 'ui primary simple button left' %>
	<%= link_to "Profile", bios_path, class: 'ui primary simple button right' %>
    </div>
</div>
