<div class="danavbar">
    <div class="navbar-padding">
	<%= link_to "Squawkr", users_path, class: 'ui inverted button left' %>
	<%= link_to "Profile", bios_path, class: 'ui inverted simple button right' %>
    <%= link_to "Start Squakin", bios_path(current_user.id), class: 'ui inverted button'%>
    </div>
</div>
